<!doctype html>
<html>
  <body style="margin: 0px">
    <div
      id="bounds"
      style="display: inline-block; position: relative; font-size: 0"
    >
      <img style="box-sizing: border-box" id="content" />
      <div id="overlay" style="position: absolute; inset: 0px"></div>
    </div>
  </body>
  <script>
    const url = new URL(window.location.href);
    const img = document.getElementById("content");
    img.src = url.searchParams.get("src");
    const overlay = document.getElementById("overlay");
    overlay.style.border = url.searchParams.get("border") ?? "none";
  </script>
</html>
